body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding-inline: 4em;
    padding-block: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  p {
    font-size: 25px;
    font-weight: bold;
    color: yellow;
    opacity: .5;
    font-style: italic;
  }
  h1, label {
    color: gray;
  }
  